/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 500px;
}

#map_prediction{
    width:auto;
    height:600px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content{
    width:1100px;
    margin:50px auto;
    height:500px;

}

#wc {
    margin:0 0;
    width:600px;
    textalign:center;
}


.y_coordinate, .x_coordinate{
    display: none;
}

div.filter{
    position:absolute;
    left:0;
    top:0;
    width:200px;
    height:100%;
}